/*========================================
  :: fullscreen, hide header and sidebar
  ========================================*/

.body-wide {

    #header,
    #nav-container {
        display: none;
    }

    > .main-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    #content {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    // hide intro
    .introjs-overlay,
    .introjs-helperLayer {
        display: none;
    }
}

/*================================
  :: 404 & 500 Error Page
  ================================*/

.error-full-page {
  background: $white !important;
  .page-error {
    margin-top: 100px;
  }
}

.page-error {
  text-align: center;
  .error-number {
    display: block;
    font-size: 158px;
    font-weight: 600;
    letter-spacing: -10px;
    line-height: 150px;
    margin-top: 0;
    text-align: center;
  }
  .error-details {
    display: block;
    padding-top: 0;
    text-align: center;
    .btn-return {
      margin: 15px 0;
    }
    h3 {
      margin-top: 0;
    }
  }
}