<div class="error-full-page"> 
  <!-- start: 404 -->
  <div class="col-sm-12 page-error pad-30">
    <div class="error-number text-primary"> 500 </div>
    <div class="error-details col-sm-6 col-sm-offset-3">
      <h3> Oops! You are stuck at 500</h3>
      <p> Something's wrong! <br>
          It looks as though we've broken something on our system. <br>
          Don't panic, we are fixing it! Please come back in a while.<br>
        <a href="index.html" class="btn btn-danger btn-return"> <i class="fa fa-home"> </i> Back to Homepage </a>
      </p>
    </div>
  </div>
  <!-- end: 404 --> 
</div>
