<div class="lock-wrapper">
    <div class="panel lock-box" ng-controller="forgotPasswordController as fogCtrl">
        <div class="center"> <img alt="" src="images/photos/user.png" class="img-circle" /> </div>
        <h4> Password Reset </h4>
        <p class="text-center text-small"> Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password. </p>
        <div class="row">
            <form ng-submit="fogCtrl.sendForgotInfo()" class="form-inline" role="form">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="iconic-input right">
                        <label for="signupInputEmail" class="text-muted">Email</label>
                        <input id="signupInputEmail1" type="email" placeholder="Enter Email" ng-model="fogCtrl.email" class="form-control padding-horizontal-15" required="required" />
                        <i class="fa fa-envelope"></i>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary" ng-show="fogCtrl.email.length>5">Reset Password</button>
                </div>
            </form>
        </div>
        <div class="panel-footer" ng-hide="fogCtrl.errorinfo == ''"><code>{{fogCtrl.errorinfo}}</code></div>
    </div>
    <div class="registration"> Already registered ? <a href="#/pages/signin"> <span class="text-primary"> Please Login </span> </a> </div>
</div>
