<div class="lock-wrapper">
  <div class="panel lock-box">
    <div class="center"> <img alt="" src="images/photos/user.png" class="img-circle"/> </div>
    <h4> Hello Jonathan ! </h4>
    <p class="text-center"> Please login to unlock your screen. </p>
    <div class="row">
      <form action="index.html" class="form-inline" role="form">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="iconic-input right">
            <label for="signupInputPassword" class="text-muted">Password</label>
            <input id="signupInputPassword" type="password" placeholder="Password" class="form-control lock-input" required="required" />
            <i class="fa fa-lock"></i> 
          </div>
          <button type="submit" class="btn btn-block btn-primary"> Sign In </button>
        </div>
      </form>
    </div>
  </div>
</div>
