<!-- Site Setting Panel -->
<div id="settings" ng-include="'views/settings/settings.html'" style="display:none"></div>
<!-- Site Setting Panel End -->

<!-- Page Header Start -->

<div class="pageheader">
  <h3><i class="fa fa-home"></i> Hello World </h3>
  <div class="breadcrumb-wrapper hidden-xs"> <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li> <a href="index.html"> Home </a> </li>
      <li class="active"> Notice </li>
    </ol>
  </div>
</div>
<!-- Page Header End -->

<div class="page" ng-controller="noticeCtrl as nctl">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Try API</div>
        <div class="panel-body">
          <p>{{nctl.Hello}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
