/*=================================
  :: Gallery 
  =================================*/

.gallery {
  float: left;
  width: 100%;
  .gallery-item {
    float: left;
    width: 25%;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    .image {
      width: 100%;
      -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
	  border: 1px solid #eeeeee;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      a {
        display: block;
      }
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        z-index: 1;
      }
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        z-index: 2;
        background: rgba(0, 0, 0, 0);
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
      }
      &:hover:before {
        background: rgba(0, 0, 0, 0.3);
      }
      img {
        width: 100%;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .gallery-item-controls {
        position: absolute;
        right: -55px;
        top: 3px;
        display: block;
        list-style: none;
        padding: 0px;
        z-index: 2;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        li {
          float: left;
          list-style: none;
          background: #FFF;
          height: 28px;
          text-align: center;
          line-height: 17px;
		  padding: 4px 10px;
          .check {
            margin: 4px 0px;
          }
          a, span {
            font-size: 15px;
            color: #BBB;
          }
          a:hover, span:hover {
            color: #656d78;
          }
          &:first-child {
            -moz-border-radius: 0px 0px 0px 3px;
            -webkit-border-radius: 0px 0px 0px 3px;
            border-radius: 0px 0px 0px 3px;
          }
          &:hover {
            background: #F5F5F5;
          }
        }
      }
      .gallery-item-controls2 {
        position: absolute;
        right: 0px;
        bottom: 3px;
        display: block;
        list-style: none;
        padding: 0px;
        z-index: 2;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        li {
          float: left;
          list-style: none;
          background: #FFF;
          height: 25px;
		  width: 90px;
          text-align: center;
          line-height: 17px;
		  padding: 2px 3px;
          .check {
            margin: 4px 0px;
          }
          a, span {
            font-size: 15px;
            color: #BBB;
          }
          a:hover, span:hover {
            color: #656d78;
          }
          &:first-child {
            -moz-border-radius: 3px 0px 0px 0px;
            -webkit-border-radius: 3px 0px 0px 0px;
            border-radius: 3px 0px 0px 0px;
          }
          &:hover {
            background: #F5F5F5;
          }
        }
      }
    }
    &:hover .image .gallery-item-controls {
      right: 3px;
    }
    &.active .image {
      .gallery-item-controls {
        right: 3px;
      }
    }
  }
}