/*================================
  :: Popover
  ================================*/

.popover-title {
  padding: 8px 14px 0;
  color: #aaa;
  font-weight: 700;
  border-bottom: none;
}

.popover-content {
  color: #fafafa;
}