.userWidget-1 {
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 3px;
  .avatar {
    height: 80px;
    background-color: #00D5E6;
    position: relative;
    border-radius: 0;
    > img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      z-index: 5;
      top: 40px;
      left: 10px;
      border: 2px solid #fff;
    }
    .name {
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      z-index: 6;
      left: 98px;
      bottom: 5px;
    }
  }
  .avatar-bg {
	width: 100%;
    height: 250px;
    background: #0eaaa6 url(../images/gallery/gallery-1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    position: relative;
    border-radius: 0;
    > img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      z-index: 5;
      bottom: -40px;
      left: 10px;
      border: 2px solid #fff;
    }
    .name {
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      z-index: 6;
      left: 98px;
      bottom: 5px;
    }
  }

  .title {
    margin-left: 98px;
    padding-top: 5px;
    font-size: 13px;
    line-height: 13px;
    color: #333;
  }
  .address {
    margin-left: 98px;
    padding-top: 3px;
    font-size: 11px;
    line-height: 11px;
    color: #999;
    font-style: italic;
  }
  .rating {
    width: 45%;
    float: left;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    .number {
      font-size: 30px;
      line-height: 30px;
      float: left;
      letter-spacing: -3px;
    }
    .stars {
      float: left;
      margin-left: 10px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          float: left;
          margin-right: 1px;
          line-height: 16px;
          span {
            color: #eab134;
            font-size: 11px;
            line-height: 11px;
          }
        }
      }
      .reviews {
        font-size: 10px;
        color: #999;
        line-height: 10px;
      }
    }
  }
  ul.stats {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    width: 55%;
    float: left;
    border-top: 1px solid #e8e8e8;
    li {
      width: 33.33333333%;
      float: left;
      text-align: center;
      font-size: 10px;
      line-height: 10px;
      color: #999;
      border-left: 1px solid #e8e8e8;
      padding: 11px 0;
      span {
        display: block;
        font-size: 16px;
        line-height: 18px;
        color: #333;
      }
    }
  }
  ul.fullstats {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    float: left;
    border-top: 1px solid #e8e8e8;
    li {
      width: 33.33333333%;
      float: left;
      text-align: center;
      font-size: 10px;
      line-height: 10px;
      color: #999;
      border-left: 1px solid #e8e8e8;
      padding: 11px 0;
      span {
        display: block;
        font-size: 16px;
        line-height: 18px;
        color: #333;
      }
    }
  }
}