/*===================================
  :: Flot charts
  ===================================*/

#flotTip {
    background: rgba(0,0,0,.7);
    color: $bright;
    padding: .3em .4em;
    border: 0;
    font-size: $font-size-small;
    border-radius: $border-radius-base;
}

.flotchart-md {
	height: 200px;
}

.flotchart-xs {
	height: 150px;
}