<div class="top-header clearfix">
    <div class="logo {{admin.logo}} hidden-xs">
        <div class="logo-title">
            <img height="30" width="30" ng-src="{{admin.logoPath}}" style="margin-top:-10px" />
            Beauty<strong>Team </strong>
        </div>
        <div class="logo-icon">
            <img width="30" height="30" style="margin-top:-10px" ng-src="{{admin.logoPath}}">
        </div>
    </div>
    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <!--Go Back-->
            <li>
                <a href="javascript:window.history.back()" class="toggle-min">
                    <i class="fa fa-arrow-left fa-lg"></i>
                </a>
            </li>
            <!--Toggle Nav PC-->
            <li>
                <a href="javascript:void(0)" class="toggle-min" id="step3" data-toggle-nav-collapsed-min>
                    <i class="fa fa-bars fa-lg"></i>
                </a>
            </li>
            <!--Toggle Nav Phone-->
            <li class="menu-button toggle-min" data-toggle-off-canvas>
                <a href="javascript:void(0)">
                    <i class="fa fa-fw fa-bars"></i>
                </a>
            </li>
            <!--Toggle Settings-->
            <li data-toggle-profile="">
                <a href="javascript:void(0) " ng-click="toggleProfile()">
                    <i class="fa fa-gears fa-lg"></i>
                </a>
            </li>
            <!--Mails-->
            <li class="dropdown" data-dropdown data-on-toggle="toggled(open)">
                <a href="javascript:void(0)" class="dropdown-toggle" data-dropdown-toggle>
                    <i class="fa fa-envelope fa-lg"></i>
                    <span class="badge badge-header badge-warning">9</span>
                </a>
                <div class="dropdown-menu panel with-arrow animated fadeInDown">
                    <div class="panel-heading">
                        You have 4 mails.
                    </div>
                    <div class="overflow" data-slim-scroll data-scroll-height="240px">
                        <ul class="list-group">
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user1.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user2.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user3.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user4.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user5.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user6.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                            <li class="list-group-item nb">
                                <a href="javascript:void(0)" class="pull-left avatar">
                                    <img src="images/photos/user7.png" alt="" class="img-circle img40_40">
                                    <i class="on bottom text-white"></i>
                                </a>
                                <div class="inline-block">
                                    <div class="text-small ph-10">Andy sent you a message</div>
                                    <small class="text-small ph-10">15 minutes ago</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all mails.</a>
                    </div>
                </div>
            </li>
            <!--Messages-->
            <li class="dropdown" data-dropdown data-on-toggle="toggled(open)">
                <a href="javascript:void(0)" class="dropdown-toggle" data-dropdown-toggle>
                    <i class="fa fa-bell fa-lg"></i>
                    <span class="badge badge-header badge-success">5</span>
                </a>
                <div class="dropdown-menu panel with-arrow animated fadeInDown">
                    <div class="panel-heading"> Notifications </div>
                    <div data-slim-scroll="" data-scroll-height="330px">
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-cube"></i>
                                </div>
                                <p class="widgetcomment-head"> New Upload </p>
                                <p>New file <span class="text-red">document.doc</span> uploaded to the cloud </p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-bell-o"></i>
                                </div>
                                <p class="widgetcomment-head"> Important Notification </p>
                                <p>There is <span class="text-red">Server 10</span> is not working Properly</p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-info">
                                    <i class="fa fa-cube"></i>
                                </div>
                                <p class="widgetcomment-head"> New Upload </p>
                                <p>New file <span class="text-red">document.doc</span> uploaded to the cloud </p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-bell-o"></i>
                                </div>
                                <p class="widgetcomment-head"> Important Notification </p>
                                <p>There is <span class="text-red">Server 10</span> is not working Properly</p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-info">
                                    <i class="fa fa-bell-o"></i>
                                </div>
                                <p class="widgetcomment-head"> Important Notification </p>
                                <p>There is <span class="text-red">Server 6</span> is not working Properly</p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-bell-o"></i>
                                </div>
                                <p class="widgetcomment-head"> Important Notification </p>
                                <p>There is <span class="text-red">Server 6</span> is not working Properly</p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-cube"></i>
                                </div>
                                <p class="widgetcomment-head"> New Upload </p>
                                <p>New file <span class="text-red">document.doc</span> uploaded to the cloud </p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-bell-o"></i>
                                </div>
                                <p class="widgetcomment-head"> Important Notification </p>
                                <p>There is <span class="text-red">Server 10</span> is not working Properly</p>
                            </div>
                        </div>
                        <div class="widget-comments">
                            <div class="widgetcomment-item">
                                <div class="counter-icon icon-sm bg-danger">
                                    <i class="fa fa-bell-o"></i>
                                </div>
                                <p class="widgetcomment-head"> Important Notification </p>
                                <p>There is <span class="text-red">Server 12</span> is not working Properly</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:void(0)">Show all mails.</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav-right pull-right list-unstyled">
            <!--Full Screen-->
            <li class="hidden-xs" data-fullscreen-Mode></li>
            <!--Lang Ctrl-->
            <li class="dropdown langs text-normal" ng-controller="LangCtrl" data-dropdown data-on-toggle="toggled(open)">
                <a href="javascript:void(0)" class="dropdown-toggle" data-dropdown-toggle>
                    <i class="fa fa-globe hidden-lg hidden-md"></i>
                    <span class="hidden-xs hidden-sm">{{lang}}</span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right list-langs animated fadeInDown" role="menu">
                    <li>
                        <a href="javascript:void(0)" ng-click="setLang('English')">English</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="setLang('Chinese')">Chinese</a>
                    </li>
                </ul>
            </li>
            <!--User Icon-->
            <li ng-controller="HeaderCtrl" ng-init="userInfo.refreshUsername()" class="dropdown text-normal nav-profile" data-dropdown data-on-toggle="toggled(open)">
                <a href="javascript:void(0)" class="dropdown-toggle" data-dropdown-toggle>
                    <img ng-src="{{userInfo.userIcon}}" alt="" class="img-circle img40_40">
                    <span class="ph-5 hidden-xs">
                        <span>{{userInfo.userNick}}</span>
                        <i class="fa fa-caret-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right animated fadeInDown">
                    <li>
                        <a href="#/pages/profile">
                            <span>{{userInfo.userNick}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/tasks/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="My Tasks"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Lock"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-support"></i>
                            <span data-i18n="Help and Support"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="logoff()">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Right Side Bar-->
            <li class="hidden-xs"><a href="javascript:void(0)" data-right-Sidebar><i class="fa fa-indent fa-lg"></i></a></li>
        </ul>
    </div>
</div>
