<!-- Menu -->

<div class="nav-wrapper">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav>
        <li class="nav-title" data-i18n="Navigation"></li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/dashboard-v1">
                <i class="fa fa-tasks mr-10"></i>
                <span data-i18n="Dashboard"></span>
            </a>
        </li>

        <li class="nav-title" data-i18n="Personal"></li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/notice">
                <i class="fa fa-newspaper-o mr-10"></i>
                <span data-i18n="Event"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/notice">
                <i class="fa fa-pencil mr-10"></i>
                <span data-i18n="Tasks"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/notice">
                <i class="fa fa-calendar mr-10"></i>
                <span data-i18n="Calendar"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/notice">
                <i class="fa fa-comments mr-10"></i>
                <span data-i18n="Message"></span>
            </a>
        </li>

        <li class="nav-title" data-i18n="Social"></li>
        <li data-toggle-off-canvas>
            <a href="#/teams/team">
                <i class="fa fa-group mr-10"></i>
                <span data-i18n="Team"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/team">
                <i class="fa fa-rss mr-10"></i>
                <span data-i18n="Posts"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/dashboard/notice">
                <i class="fa fa-child mr-10"></i>
                <span data-i18n="Friends"></span>
            </a>
        </li>

        <li class="nav-title" data-i18n="Support"> </li>
        <li data-toggle-off-canvas>
            <a href="#/support/community">
                <i class="fa fa-globe mr-10"></i>
                <span data-i18n="Community"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/support/faq">
                <i class="fa fa-bullhorn mr-10"></i>
                <span data-i18n="FAQ"></span>
            </a>
        </li>
        <li data-toggle-off-canvas>
            <a href="#/support/settings">
                <i class="fa fa-gears mr-10"></i>
                <span data-i18n="Settings"></span>
            </a>
        </li>
       

        <!--Category name-->
        <li class="nav-title" data-i18n="Server Status"> </li>

        <!--Menu list item-->
        <li class="ph-15 nav-status">
            <p class="text-small pr-5">
                <i class="fa fa-dashboard text-primary mr-5"></i> CPU Usage
                <span class="label label-primary pull-right">45%</span>
            </p>
            <div class="progress progressbar-xs">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </li>

        <!--Menu list item-->
        <li class="ph-15 nav-status">
            <p class="text-small pr-5">
                <i class="fa fa-database text-danger mr-5"></i> Bandwidth
                <span class="label label-danger pull-right">65%</span>
            </p>
            <div class="progress progressbar-xs">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                    <span class="sr-only">65% Complete</span>
                </div>
            </div>
        </li>

    </ul>
</div>