<div class="pad-15 animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
      <a href="#/pages/directory">
        <div class="panel panel-default nm">
          <div class="panel-body">
            <div class="pull-left pv-5">
              <p class="setting-title text-bricky">Users</p>
            </div>
            <div class="pull-right text-bricky"> <i class="fa fa-users fa-4x"></i> </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
      <a href="#/mail/inbox">
        <div class="panel panel-default nm">
          <div class="panel-body">
            <div class="pull-left pv-5">
              <p class="setting-title text-bricky">Inbox</p>
            </div>
            <div class="pull-right text-bricky"> <i class="fa fa-envelope fa-4x"></i> </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
      <a href="#/pages/faq">
        <div class="panel panel-default nm">
          <div class="panel-body">
            <div class="pull-left pv-5">
              <p class="setting-title text-bricky">FAQ</p>
            </div>
            <div class="pull-right text-bricky"> <i class="fa fa-headphones fa-4x"></i> </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
      <a href="#/pages/profile">
        <div class="panel panel-default nm">
          <div class="panel-body">
            <div class="pull-left pv-5">
              <p class="setting-title text-bricky">Settings</p>
            </div>
            <div class="pull-right text-bricky"> <i class="fa fa-cogs fa-4x"></i> </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
      <a href="#/calender/calender"> 
        <div class="panel panel-default nm">
          <div class="panel-body">
            <div class="pull-left pv-5">
              <p class="setting-title text-bricky">Calender</p>
            </div>
            <div class="pull-right text-bricky"> <i class="fa fa-calendar fa-4x"></i> </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
      <a href="#/pages/gallery">
        <div class="panel panel-default nm">
          <div class="panel-body">
            <div class="pull-left pv-5">
              <p class="setting-title text-bricky">Pictures</p>
            </div>
            <div class="pull-right text-bricky"> <i class="fa fa-picture-o fa-4x"></i> </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>